div.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
div.outer{
  height: 96%;
}
div.container{
  min-block-size: 80%;
}
div.header{
  background: rgba(210, 210, 210, .80);
  border-radius: 20px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
div.header h1{
  margin: 0px;
}
div.header h2{
  margin: 0px;
}
footer{
  height: 3%;
  text-align: center
}
footer span{
  background: rgba(210, 210, 210, .80);
  padding:10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 20pt;
}
footer a:hover{
  color: black;
  text-decoration: underline;
}
footer a{
  color:black;
  text-decoration: none;
}
