/* You can add global styles to this file, and also import other style files */
*{
  font-family: 'Roboto', sans-serif;

}
*:focus {
  outline: none;
}
input{
  outline: none;

  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 2px;
  border-bottom-color: black;
  font-size: 35pt;
}
h1{
  font-size: 50pt;
}
h2{
  font-size: 35pt;
}
h3{
  font-size: 24pt;
}
